
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
tests\actions.spec.js
tests\assertions.spec.js
tests\checkboxes.spec.js
tests\dropdown.spec.js
tests\frames.spec.js
tests\locators.spec.js
tests\multipletabs.spec.js
tests\tables.spec.js
tests\waits.spec.js
Playwright_Quick_Reference.md
tests\fileuploaddownload.spec.js

# Test fixture files
resume.pdf
photo.jpg